.col-1,
.col-2,
.col-3,
.col-4 {
	position: relative;
	display: inline-block;
}

.col-4 {
	width: 94%;
}
.col-3 {
	width: 75%;
}
.col-2 {
	width: 50%;
}
.col-1 {
	width: 15%;
}

.head {
	background-color: grey;
	margin-left: 3%;
}

.side {
	background-color: grey;
	height: 50%;
	margin-left: 3%;
}

.content {
	margin-left: 3%;
	margin-top: 2%;
	background-color: grey;
	border: 2px dotted black;
	height: 75%;
}

.content img {
	display: inline;
}

.article {
	position: relative;
	display: inline-block;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
}

h2 {
	margin-left: 20%;
	text-align: left;
}

input {
	margin-top: 2%;
}

[required] {
	border: 2px dotted orange;
}

/*
ul ul
{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	display: inline-block;
	left: 144px;
	top: -1px;
	margin:0px;
	padding: 0px;
	border: 1px solid grey;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
}

li
{
	list-style-type: none;
	position: relative;
	width: 140px;
	background-color: #E0E0E0;
	padding: 2px; margin: 0px
}

li:hover
{
	background-color: #FFFF70;
}

li:hover ul.niveau2, li li:hover ul.niveau3
{
 	visibility: visible;
	opacity: 1;
}

li.plus
{
	background-position:right;
	background-repeat: no-repeat;
	border-bottom: 1px solid grey;
}*/
